@model EquipmentRentalCore.Models.Rental

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalEquipment.EquipmentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalUser.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RentalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
